<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lesson shop</title>
        <link rel="stylesheet" href="./public/styles/lessons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" >
        <script src="https://unpkg.com/vue"></script>
        
    </head>
    <body>
        <div id="lessons">
            <h1>List of lessons</h1>
            <button @click="openCheckout" v-if="cartItemCount" id="checkoutButton"  class="btn btn-primary">Proceed to shopping cart</button>
            <button v-else class="btn btn-disabled btn-secondary">Shopping cart empty</button>
            <hr></hr>
            <div id="lessonList" class="row">
            <div v-for="(subject, key) in subjects" class=" col-lg-4 row container">
                <div class="col-lg-6  m-auto">
                    <figure>
                        <img height="200px" width="200px"  :src="subject.img" alt="">
                    </figure>
                    <!-- <button class="btn btn-success" @click="addToCart(subject.id)"> -->
                    <button class="btn btn-success" v-if="canAddToCart(subject.id)" @click="addToCart(subject.id)">
                        <span ><i class="fas fa-cart-plus"></i></span>
                         Add to Cart ({{subject.countItemsInCart}})
                    </button>
                    <button class="btn btn-secondary btn-disabled" v-else>Out of space</button>
                </div>

                <div class="col-lg-6  ">
                    <h2 class="subject"><i class="fas fa-book-open"></i>  {{subject.subject}}</h2>
                    <i class="fas fa-map-pin"></i><span class="location" v-text='subject.location' ></span>
                    <p class="price">Price for one space: {{subject.price}}£</p>
                    <p class="av-space">Available space: {{subject.showSpace}}</p>
                    <p class="total-price">Total price: {{subject.totalPrice}}£</p>
                </div>
             </div>
            </div>

            <form action="">

                <div class="row col-lg-12  container" id="checkout">
                    <div class="col-lg-4">
                        <h3>Check out page</h3>
                        ({{cartItemCount-1}})
                        <div class="form-group">
                            <label for="firstName">First Name:
                                <input required v-model="order.firstName"type="text">
                        </label>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name:
                                <input required v-model="order.lastName"type="text">
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone:
                                <input required v-model="order.phone"type="number">
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="year">Year of study:
                                <select v-model="order.year">
                                    <option value="">-</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                </select>
                                <!-- <input v-model="order.year"type="number"> -->
                            </label>
                        </div>
                        <!-- <div class="form-group">
                            <label for="gift">gift?
                                <input type="checkbox" v-model="order" value="false"v-bind:true-value="order.isGift" v-bind:false-value="order.isNotGift">
                            </label>
                        </div> -->
                    </div>
                    <div class="col-lg-4">
                        <h3>Order Summary</h3>
                        <p>Name: {{order.firstName}} {{order.lastName}} </p>
                        <p>Phone: {{order.phone}}</p>
                        <p>Year of study: {{order.year}} </p>

                        <p>total price</p>
                        <button @click="placeOrder" type="submit" class="btn btn-info">Place order</button>
                    </div>
                    <div class="col-lg-4">
                        <h3>Order List</h3>
                        <div v-for="(cartItem, key) in cart" >
                            <p>{{subjects[cartItem].subject}} 
                                <a @click="removeFromCart(subjects[cartItem].id,key)" class="btn btn-danger">Remove</a>
                            </p>
                        </div>
                    </div>
                </div>
             </form>
        </div>
        <script>
            var lessonList = new Vue({  //creating vue instance

                el:"#lessons",
                data:{
                    showCheckout:false,
                    order:{
                        firstName:"",
                        secondName:"",
                        phone:"",
                        year:"",
                        isGift:"Purchase as a gift",
                        isNotGift:"Purchase for yourself",
                    },
                    subjects:[ 
                        {
                            id:'0',
                            subject:'IT',
                            location:'Hendon',
                            price:1000,
                            img:'public/img/image1.jpeg',
                            space: 5,
                            showSpace:5,
                            countItemsInCart:0,
                            available:true,
                            totalPrice:0,
                        },
                        {
                            id:'1',
                            subject:'Maths',
                            location:'Hendon',
                            price:1000,
                            img:'public/img/image1.jpeg',
                            space: 5,
                            showSpace:5,
                            countItemsInCart:0,
                            available:true,
                            totalPrice:0,
                        }, 
                        {
                            id:'2',
                            subject:'History',
                            location:'Hendon',
                            price:1000,
                            img:'public/img/image1.jpeg',
                            space: 5,
                            showSpace:5,
                            countItemsInCart:0,
                            available:true,
                            totalPrice:0,
                        }, 
                        {
                            id:'3',
                            subject:'Arts',
                            location:'Hendon',
                            price:1000,
                            img:'public/img/image1.jpeg',
                            space: 5,
                            showSpace:5,
                            countItemsInCart:0,
                            available:true,
                            totalPrice:0,
                        }, 
                        {
                            id:'4',
                            subject:'Dance',
                            location:'Hendon',
                            price:1000,
                            img:'public/img/image1.jpeg',
                            space: 5,
                            showSpace:5,
                            countItemsInCart:0,
                            available:true,
                            totalPrice:0,
                        }, 
                        {
                            id:'5',
                            subject:'Graphics',
                            location:'Hendon',
                            price:1000,
                            img:'public/img/image1.jpeg',
                            space: 5,
                            showSpace:5,
                            countItemsInCart:0,
                            available:true,
                            totalPrice:0,
                        }, 
                        {
                            id:'6',
                            subject:'Game dev',
                            location:'Hendon',
                            price:1000,
                            img:'public/img/image1.jpeg',
                            space: 5,
                            showSpace:5,
                            countItemsInCart:0,
                            available:true,
                            totalPrice:0,
                        }, 
                        {
                            id:'7',
                            subject:'Politics',
                            location:'Hendon',
                            price:1000,
                            img:'public/img/image1.jpeg',
                            space: 5,
                            showSpace:5,
                            countItemsInCart:0,
                            available:true,
                            totalPrice:0,
                        }, 
                        {
                            id:'8',
                            subject:'Economics',
                            location:'Hendon',
                            price:1000,
                            img:'public/img/image1.jpeg',
                            space: 5,
                            showSpace:5,
                            countItemsInCart:0,
                            available:true,
                            totalPrice:0,
                        },
                        {
                            id:'9',
                            subject:'Geography',
                            location:'Hendon',
                            price:1000,
                            img:'public/img/image1.jpeg',
                            space: 0,
                            showSpace:0,
                            countItemsInCart:0,
                            available:false,
                            totalPrice:0,
                        },
                    ],                     
                    cart:[],
                },
                methods: {  //creating method for adding to cart
                    addToCart(subjectId) {
                        this.subjects.forEach(subject => {
                            if(subject.id == subjectId && subject.space > subject.countItemsInCart){
                                subject.showSpace--;
                                subject.totalPrice+=subject.price;
                                subject.countItemsInCart++;
                                subject.available = true;
                                this.cart.push(subject.id);
                            }
                            else{
                                subject.available = false;
                            }

                        });
                    },
                    removeFromCart(subjectId,key){
                        console.log(subjectId);
                        this.subjects.forEach(subject => {
                            if(subject.id == subjectId ){
                                subject.showSpace++;
                                subject.totalPrice-=subject.price;
                                subject.countItemsInCart--;
                                //key represent iteration cart position of the item simple fix
                                this.cart.splice(key,1) 
                            }
                    
                         });
                    },

                    canAddToCart(subjectId){
                        for (let i = 0; i < this.subjects.length; i++) {
                            if(this.subjects[i].id == subjectId && this.subjects[i].space > 0){
                                return this.subjects[i].space >this.subjects[i].countItemsInCart;

                            }
                        }
                    },
                    openCheckout: () => {
                        let checkoutBtn = document.querySelector('#checkoutButton');
                        let lessonList = document.querySelector('#lessonList');
                        let checkoutSection = document.querySelector('#checkout');
                        if(checkoutBtn.innerHTML != "Back to the list of lessons"){
                            lessonList.style.display = "none";
                            checkoutSection.style.display = "inline-flex";
                            checkoutBtn.innerHTML = "Back to the list of lessons";
                        }
                        else{
                            lessonList.style.display = "inline-flex";
                            checkoutSection.style.display = "none";
                            checkoutBtn.innerHTML = "Proceed to shopping cart";
                        }
                    },
                    placeOrder: (e) => { 
                        if (this.order.firstName && this.order.lastName && this.order.phone) {
                            alert('Order succesfully placed!')
                            // window.location.reload()

                        }
                        e.preventDefault();

                }
                    
                },
                computed: { // the Computed Property object
                    
                    cartItemCount:function() { // the propety name
                    // its value is calculated when it is called
                        return this.cart.length+1 || '';
                    },
                    checkInputs: ()=>{
                        return true;
                    }
                },
         

        });
        </script>
    </body>
</html>