<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lesson shop</title>
        <link rel="stylesheet" href="./public/styles/lessons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" >
        <script src="https://unpkg.com/vue"></script>
        
    </head>
    <body>
        <div id="lessons">
            <h1>List of lessons</h1>
            <hr></hr>
            <div class=" col-lg-4 row container">
                <div class="col-lg-6  m-auto">
                    <figure>
                        <img height="200px" width="200px"  :src="subject1.img" alt="">
                    </figure>
                    <button class="btn btn-success"v-if="canAddToCart" v-on:click="addToCart">
                        <span ><i class="fas fa-cart-plus"></i></span>
                         Add to Cart
                         ({{cartItemCount}}) 
                    </button>
                    <button class="btn btn-secondary    btn-disabled" v-else>Out of space</button>
                </div>

                <div class="col-lg-6  ">
                    <h2 class="subject"><i class="fas fa-book-open"></i>  {{subject1.subject}}</h2>
                    <i class="fas fa-map-pin"></i><span class="location" v-text='subject1.location' ></span>
                    <p class="price">Price for one space: {{subject1.price}}£</p>
                    <p class="av-space">Available space: {{subject1.showSpace}}</p>
                    <p class="total-price">Total price: {{subject1.totalPrice}}£</p>
                </div>
             </div>
             <div class="row col-lg-12  container" id="checkout">
                <div class="col-lg-6 m-auto">
                    <h3>Check out page</h3>

                    <div class="form-group">
                        <label for="firstName">First Name:
                            <input v-model="student.firstName"type="text">
                       </label>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name:
                            <input v-model="student.lastName"type="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="age">Age:
                            <input v-model="student.age"type="number">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="year">Year of study:
                            <input v-model="student.year"type="number">
                        </label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3>Order Summary</h3>
                    <p>Name: {{student.firstName}} {{student.lastName}} </p>
                    <p>Age: {{student.age}}</p>
                    <p>Year of study: {{student.year}} </p>
                    <p>total price</p>
                    <button class="btn btn-info">Place order</button>
                </div>
             </div>
        </div>
        <script>
            var lessonList = new Vue({  //creating vue instance

                el:"#lessons",
                data:{
                    student:{
                        firstName:"",
                        secondName:"",
                        age:"",
                        year:""
                    }, 
                    subject1:{
                        id:'1',
                        subject:'IT',
                        location:'Hendon',
                        price:1000,
                        img:'public/img/image1.jpeg',
                        space: 5,
                        showSpace:5,
                        totalPrice:0,
                    },
                    subject2:{
                        id:'1',
                        subject:'IT',
                        location:'Hendon',
                        price:1000,
                        img:'public/img/image1.jpeg',
                        space: 5,
                        showSpace:5,
                        totalPrice:0,
                    }, 
                    subject3:{
                        id:'1',
                        subject:'IT',
                        location:'Hendon',
                        price:1000,
                        img:'public/img/image1.jpeg',
                        space: 5,
                        showSpace:5,
                        totalPrice:0,
                    }, 
                    subject4:{
                        id:'1',
                        subject:'IT',
                        location:'Hendon',
                        price:1000,
                        img:'public/img/image1.jpeg',
                        space: 5,
                        showSpace:5,
                        totalPrice:0,
                    }, 
                    subject5:{
                        id:'1',
                        subject:'IT',
                        location:'Hendon',
                        price:1000,
                        img:'public/img/image1.jpeg',
                        space: 5,
                        showSpace:5,
                        totalPrice:0,
                    }, 
                    subject6:{
                        id:'1',
                        subject:'IT',
                        location:'Hendon',
                        price:1000,
                        img:'public/img/image1.jpeg',
                        space: 5,
                        showSpace:5,
                        totalPrice:0,
                    }, 
                    subject7:{
                        id:'1',
                        subject:'IT',
                        location:'Hendon',
                        price:1000,
                        img:'public/img/image1.jpeg',
                        space: 5,
                        showSpace:5,
                        totalPrice:0,
                    }, 
                    subject8:{
                        id:'1',
                        subject:'IT',
                        location:'Hendon',
                        price:1000,
                        img:'public/img/image1.jpeg',
                        space: 5,
                        showSpace:5,
                        totalPrice:0,
                    }, 
                    subject9:{
                        id:'1',
                        subject:'IT',
                        location:'Hendon',
                        price:1000,
                        img:'public/img/image1.jpeg',
                        space: 5,
                        showSpace:5,
                        totalPrice:0,
                    },
                    subject10:{
                        id:'1',
                        subject:'IT',
                        location:'Hendon',
                        price:1000,
                        img:'public/img/image1.jpeg',
                        space: 5,
                        showSpace:5,
                        totalPrice:0,
                    },                     
                    cart:[],
                },
                methods: {  //creating method for adding to cart
                    addToCart: function () {
                        this.subject1.showSpace--;
                        this.subject1.totalPrice+=this.subject1.price;
                        this.cart.push(this.id);
                    }
                    
                },
                computed: { // the Computed Property object
                    cartItemCount: function() { // the propety name
                    // its value is calculated when it is called
                        return this.cart.length || '';
                    },
                    canAddToCart: function() {
                        return this.subject1.space > this.cartItemCount;
                    }
                },
         

        });
        </script>
    </body>
</html>